    <div class="inner">
          
          <!-- @Element: Search form -->
          <div class="block">
            <form role="form">
              <div class="input-group">
                <label class="sr-only" for="search-field">Search</label>
                <input type="search" class="form-control" id="search-field" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </form>
          </div>

          <!-- @Element: Tag cloud -->
          <div class="block">
            <h4 class="title-divider">
              <span>Tags</span>
            </h4>
            <div class="tag-cloud">
              <span><a href="#">culture</a> (17)</span>
              <span><a href="#">general</a> (38)</span>
              <span><a href="#">coding</a> (63)</span>
              <span><a href="#">design</a> (92)</span>
              <span><a href="#">weather</a> (4)</span>
              <span><a href="#">jobs</a> (29)</span>
              <span><a href="#">health</a> (71)</span>
            </div>
          </div>
          
          <!-- @Element: Archive -->
     
          <div class="block">
            <h4 class="title-divider">
              <span>Archive</span>
            </h4>
            <ul class="list-unstyled list-lg tags">
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">February 2016</a> (56)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">January 2016</a> (96)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">December 2015</a> (31)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">November 2015</a> (25)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">October 2015</a> (11)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">September 2015</a> (98)</li>
              <li><i class="fa fa-angle-right fa-fw"></i> <a href="#">August 2015</a> (47)</li>
            </ul>
          </div>
          
          <!-- @Element: Popular/recent tabs -->
          <div class="block">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
              <li><a href="#latest" data-toggle="tab">Latest</a></li>
            </ul>
            <div class="tab-content tab-content-bordered">
              <!-- Popular tab content -->
              <div class="tab-pane fade in active blog-roll-mini" id="popular">
                <!-- Popular blog post 1 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                       <span> <img src="img/blog/ladybird.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" /></span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Blandit Odio Praemitto Tation</a>
                    </h5>
                  </div>
                </div>
                <!-- Popular blog post 2 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/fly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Camur Humo Jugis Lenis</a>
                    </h5>
                  </div>
                </div>
                <!-- Popular blog post 3 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Autem Diam Humo Natu</a>
                    </h5>
                  </div>
                </div>
                <!-- Popular blog post 4 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Abigo Ex Typicus Vero</a>
                    </h5>
                  </div>
                </div>
              </div>
              <!-- Latest tab content -->
              <div class="tab-pane fade blog-roll-mini" id="latest">
                <!-- Latest blog post 1 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Causa Conventio Refero Venio</a>
                    </h5>
                  </div>
                </div>
                <!-- Latest blog post 2 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/bee.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Melior Minim Premo Tincidunt</a>
                    </h5>
                  </div>
                </div>
                <!-- Latest blog post 3 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Bene Ex Magna Paratus</a>
                    </h5>
                  </div>
                </div>
                <!-- Latest blog post 4 -->
                <div class="row blog-post">
                  <div class="col-xs-4">
                    <div class="blog-media">
                      <a href="blog-post.htm">
                        <img src="img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <h5>
                      <a href="#">Abico Letalis Paulatim Ratis</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- @Element: Subscrive button -->
          <div class="block">
            <a href="#" class="btn btn-warning"><i class="fa fa-rss"></i> Subscribe via RSS feed</a>
          </div>
          
          <!-- Follow Widget -->
          <div class="block">
            <h4 class="title-divider">
              <span>Follow Us On</span>
            </h4>
            <!--@todo: replace with real social media links -->
            <ul class="list-unstyled social-media-branding">
              <li>
                <a href="#" class="social-link branding-twitter"><i class="fa fa-twitter-square fa-fw"></i> Twitter</a>
              </li>
              <li>
                <a href="#" class="social-link branding-facebook"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a>
              </li>
              <li>
                <a href="#" class="social-link branding-linkedin"><i class="fa fa-linkedin-square fa-fw"></i> LinkedIn</a>
              </li>
              <li>
                <a href="#" class="social-link branding-google-plus"><i class="fa fa-google-plus-square fa-fw"></i> Google+</a>
              </li>
            </ul>
          </div>
        </div>